body {
    color: rgb(187, 185, 185);
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    margin-top: 0px;

}

/* header-section */


.header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(6, 6, 69);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    box-sizing: border-box;
    
}

.left-links, .right-links {
    display: flex;
   gap:20px
}


a {
    text-decoration: none;
    color: rgb(187, 185, 185);
    
}

/* sub-header-section */


.sub-header-section{
    display: flex;
    background-color: rgb(6, 6, 69);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px;
    



}

.sub-header-left-box {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.sub-header-right-box {
    display: flex;
    border: 2px solid black;
    
    

}

#sample{
    height: 230 px;
    width: 300px;
    display: flex;
    justify-content: center;
    
}
