body {
    color: rgb(187, 185, 185);
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    margin-top: 0px;

}

/* header-section */


.header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(6, 6, 69);
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    box-sizing: border-box;
    
}

.left-links, .right-links {
    display: flex;
   gap:20px
}


a {
    text-decoration: none;
    color: rgb(187, 185, 185);
    
}

/* sub-header-section */


.sub-header-section{
    display: flex;
    background-color: rgb(6, 6, 69);
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px;
}

.subheader-container {
    display: flex;
    border: 2px red solid;
    width: 800px;
    height: 300px;
    
}


.sub-header-left-box {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(177, 177, 177);
    max-width: 380px;
    box-sizing: border-box;
}

.hero-main-txt {
 font-size: 34px;
 font-weight: 900;
 font-family: 'Brush Script MT', cursive;
 padding: 10px;
 text-align: start;
}

.hero-main-txt > p {
    color: rgb(111, 58, 58);
    
}

.sub-header-right-box {
    display: flex;
    border: 2px solid rgb(137, 151, 12);
    flex: 1;
    max-width: 465px;
    

}

#sample{
    height: 230 px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex: 1;
    
}